#atendimento {
  background: #eee;
}
/* TOPO */
#atendimento .topo h1,
#atendimento .topo h2 {
  font-weight: 500;
}
/* GRID */
#atendimento .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
/* ITEM 1 */
#atendimento .item-1 {
  position: relative;
}
/* RESET */
#atendimento .item-1 p {
  margin-bottom: 0;
  padding: 0;
}
#atendimento .item-1 br {
  display: none;
}
#atendimento .content__wrapper {
  background: linear-gradient(180deg, #eee 0%, #eee 70%, #004B82 70%, #004B82 100%);
}
/* INPUTS */
#atendimento .item-1 label {
  width: 100%;
}
#atendimento .item-1 .wpcf7-form-control {
  width: 100%;
  padding: 16px 32px;
  border-radius: 12px;
  border: 1px solid #C7C7C7;
  color: #565656;
  font-weight: 500;
}
#atendimento .item-1 .wpcf7-form-control::placeholder {
  color: #565656;
  font-weight: 500;
}
#atendimento .item-1 .wpcf7-form-control-wrap {
  display: flex;
  flex-direction: column;
}
#atendimento .item-1 .wpcf7-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
#atendimento .item-1 .select .wpcf7-form-control-wrap {
  position: relative;
}
#atendimento .item-1 .select .wpcf7-form-control-wrap::before {
  content: url(../imgs/arrow-select.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  top: calc(50% + 8px);
  right: 16px;
  transform: translateY(-50%);
}
#atendimento .item-1 .wpcf7-textarea {
  min-height: 300px;
}
#atendimento .item-1 .submit__wrapper {
  position: absolute;
  bottom: -80px;
  width: fit-content;
}
#atendimento .item-1 .submit__wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
}
#atendimento .item-1 .submit__wrapper .wpcf7-submit {
  padding: 16px 64px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: var(--clr-primary);
  transition: all 0.3s ease;
  transform-origin: left center;
}
#atendimento .item-1 .submit__wrapper .wpcf7-submit:hover {
  background: #000;
  color: #fff;
  transform: scale(1.05);
}
#atendimento .item-1 .wpcf7-response-output {
  padding: 0;
  margin: 0;
  border: none !important;
  color: var(--clr-primary);
}
/* ITEM 2 */
#atendimento .grid .item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 12px;
  background: #004B82;
}
#atendimento .grid .item-2 .wrapper {
  max-width: 400px;
}
#atendimento .grid .item-2 .canais {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
#atendimento .grid .item-2 .canais .canais__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  text-decoration: none;
}
#atendimento .grid .item-2 .sociais__redes {
  display: flex;
  gap: 24px;
  width: 100%;
}
#atendimento .grid .item-2 .sociais__redes a {
  text-decoration: none;
}
@media (max-width: 1024px) {
  #atendimento .grid {
    grid-template-columns: 1fr;
  }
  #atendimento .item-1 .submit__wrapper {
    position: unset;
  }
  #atendimento .grid .item-2 {
    padding: 16px;
  }
  #atendimento .mailto {
    word-break: break-all;
  }
}