/* NAVBAR */
body {
  padding-top: 0;
}
.navbar {
  background: transparent !important;
  box-shadow: none;
}
.navbar__wrapper {
  padding: 0 32px;
}
.navbar__top {
  margin-top: 16px;
  border-radius: 12px;
  padding: 10px 32px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
/* BANNER */
#home .topo {
  position: relative;
  aspect-ratio: 1920/950;
  background: #000;
}
#home .topo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
#home .topo .container-xxl {
  position: absolute;
  z-index: 1;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#home .topo .text__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 16px;
}
#home .topo .text__wrapper h1 {
  font-family: "Quentin";
  font-weight: 400;
  font-size: 64px !important;
  color: #fff;
  margin-bottom: 0;
}
#home .topo .text__wrapper h2 {
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  max-width: 850px;
}
#home .topo .text__wrapper .cta {
  width: fit-content;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  background: var(--clr-primary);
  color: #fff;
  transition: all 0.3s ease;
}
#home .topo .text__wrapper .cta:hover {
  background: #000;
}
#home .topo .redes__wrapper {
  display: flex;
  gap: 16px;
}
#home .topo .redes__wrapper a {
  text-decoration: none;
  transition: all 0.3s ease;
}
#home .topo .redes__wrapper a:hover {
  transform: scale(1.1);
}
/* PORTFOLIO */
#home .portfolio {
  background: linear-gradient(180deg, #D9D9D9 50%, #EEE 50%);
}
#home .portfolio .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
}
#home .portfolio .grid .item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 580/780;
  border-radius: 16px;
}
#home .portfolio .grid .item::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #004B82 80%);
}
#home .portfolio .grid .item .img__wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#home .portfolio .grid .item .img__wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
#home .portfolio .grid .item:hover > .img__wrapper img {
  transform: scale(1.05);
}
#home .portfolio .grid .item .infos__wrapper {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  padding: 32px;
  color: #fff;
}
#home .portfolio .grid .item .infos__wrapper h2 {
  font-weight: 600;
}
#home .portfolio .grid .item .infos__wrapper p {
  margin-bottom: 0;
}
#home .portfolio .title,
#home .portfolio .cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .portfolio .title h2 {
  font-family: "Quentin";
  font-weight: 400;
  font-size: 80px !important;
}
#home .portfolio .cta__wrapper .cta {
  width: fit-content;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  background: var(--clr-primary);
  color: #fff;
  transition: all 0.3s ease;
}
#home .portfolio .cta__wrapper .cta:hover {
  background: #000;
}
/* DEPOIMENTOS */
.fancybox__content {
  aspect-ratio: auto !important;
  width: auto !important;
}
#home .depoimentos {
  background: #EEE;
}
#home .depoimentos .title {
  aspect-ratio: 1920/1080;
  margin-bottom: -320px;
}
#home .depoimentos .title h2 {
  font-family: "Quentin";
  font-weight: 400;
  font-size: 72px !important;
  text-align: center;
}
#home .depoimentos__slide {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
#home .depoimentos__slide .item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  height: auto;
}
#home .depoimentos__slide .item > .img__wrapper {
  height: fit-content;
}
#home .depoimentos__slide .item > .img__wrapper .img {
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 435/310;
  transition: all 0.3s ease;
  transform-origin: bottom;
}
#home .depoimentos__slide .item > .img__wrapper:hover .img {
  transform: scale(1.05);
}
#home .depoimentos__slide .text__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 40px 32px;
  gap: 32px;
  justify-content: space-between;
  background: #fff;
}
#home .depoimentos__slide .bottom__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  max-height: 72px;
}
#home .depoimentos__slide .bottom__wrapper .info__wrapper {
  display: flex;
  gap: 16px;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  border-top: 1px solid rgba(0, 75, 130, 0.15);
  border-right: 1px solid rgba(0, 75, 130, 0.15);
  border-bottom: 1px solid rgba(0, 75, 130, 0.15);
  border-radius: 48px;
  overflow: hidden;
}
#home .depoimentos__slide .bottom__wrapper .img__wrapper {
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
#home .depoimentos__slide .bottom__wrapper .img__wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#home .depoimentos__slide .video {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 56px;
  aspect-ratio: 1;
}
#home .depoimentos__slide .video a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25%;
  background: var(--clr-primary);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
#home .depoimentos__slide .video a img {
  width: 100%;
}
#home .depoimentos__slide .swiper-pagination-bullet {
  background: #BCBCBC;
  opacity: 1;
  height: 16px;
  width: 16px;
  transition: all 0.3s ease;
}
#home .depoimentos__slide .swiper-pagination-bullet-active {
  background: #979797;
  width: 32px;
  border-radius: 8px;
}
/* PRODUTOS */
#home .produtos {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #D9D9D9 50%, #EEE 50%);
}
#home .produtos .title {
  max-width: 1200px;
  margin: 0 auto;
}
#home .produtos .title h2 {
  font-family: "Quentin";
  font-weight: 400;
  font-size: 72px !important;
}
#home .produtos .swiper-wrapper .swiper-slide {
  height: auto;
}
#home .produtos .swiper-wrapper .item {
  position: relative;
  display: flex;
  padding: 100px 48px;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
#home .produtos .swiper-wrapper .item .infos__wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 400px;
}
#home .produtos .swiper-wrapper .item .img__wrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home .produtos .swiper-wrapper .item .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}
#home .produtos .swiper-wrapper .item:hover > .img__wrapper img {
  transform: scale(1.05);
}
#home .produtos .swiper-pagination {
  bottom: 10rem;
}
#home .produtos .swiper-pagination-bullet {
  background: #BCBCBC;
  opacity: 1;
  height: 16px;
  width: 16px;
  transition: all 0.3s ease;
}
#home .produtos .swiper-pagination-bullet-active {
  background: #979797;
  width: 32px;
  border-radius: 8px;
}
#home .produtos .cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
#home .produtos .cta__wrapper .cta {
  width: fit-content;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  background: var(--clr-primary);
  color: #fff;
  transition: all 0.3s ease;
}
#home .produtos .cta__wrapper .cta:hover {
  background: #000;
}
/* BLOG */
#home .blog {
  background: linear-gradient(180deg, #D9D9D9 60%, #EEE 60%);
}
#home .blog .grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
  aspect-ratio: 5/2;
}
#home .blog .grid a:nth-child(1) { 
  grid-area: 1 / 1 / 4 / 7;
  border-radius: 12px 0 0 12px;
}
#home .blog .grid a:nth-child(2) { 
  grid-area: 1 / 7 / 2 / 10;
  border-radius: 0 12px 0 0;
}
#home .blog .grid a:nth-child(3) { 
  grid-area: 2 / 7 / 3 / 10; 
}
#home .blog .grid a:nth-child(4) { 
  grid-area: 3 / 7 / 4 / 10; 
  border-radius: 0 0 12px 0;
}
#home .blog .grid a {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#home .blog .grid a::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
  opacity: 0.65;
  transition: all 0.3s ease;
}
#home .blog .grid a:hover::before {
  opacity: 0.8;
}
#home .blog .grid .infos__wrapper {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
}
#home .blog .grid .img__wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
#home .blog .grid img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: all 0.3s ease;
}
#home .blog a:hover > .img__wrapper img {
  transform: scale(1.05);
}
#home .blog .title,
#home .blog .cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .blog .title h2 {
  font-family: "Quentin";
  font-weight: 400;
  font-size: 80px !important;
}
#home .blog .cta__wrapper .cta {
  width: fit-content;
  padding: 16px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  background: var(--clr-primary);
  color: #fff;
  transition: all 0.3s ease;
}
#home .blog .cta__wrapper .cta:hover {
  background: #000;
}
/* ORÇAMENTO */
#home .orcamento {
  background: #EEE;
}
#home .orcamento .wrapper {
  display: flex;
}
#home .orcamento .text__wrapper {
  min-width: 600px;
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background: #000;
  border-radius: 16px 0 0 16px;
}
#home .orcamento .text {
  max-width: 400px;
  color: #fff;
}
#home .orcamento .text .cta {
  display: block;
  width: fit-content;
  padding: 16px 48px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}
#home .orcamento .text .cta:hover {
  background: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
#home .orcamento .img__wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0 16px 16px 0;
}
#home .orcamento .img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
#home .orcamento .img__wrapper:hover .img-full {
  transform: scale(1.05);
}
/* ATENDIMENTO */
#home .atendimento {
  background: var(--clr-primary);
}
#home .atendimento .wrapper {
  display: flex;
}
#home .atendimento .text__wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
#home .atendimento .text {
  max-width: 400px;
  color: #fff;
}
#home .atendimento .text .cta {
  display: block;
  width: fit-content;
  padding: 16px 48px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}
#home .atendimento .text .cta:hover {
  background: #000;
}
#home .atendimento .img__wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 50%;
}
#home .atendimento .img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
#home .atendimento .img__wrapper:hover .img-full {
  transform: scale(1.05);
}
@media (max-width: 1024px) {
  /* NAVBAR */
  .navbar {
    background: #fff !important;
  }
  /* TOPO */
  #home .topo {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
  }
  #home .topo .container-xxl,
  #home .topo video {
    position: unset;
    transform: unset;
  }
  #home .topo .container-xxl {
    padding: 48px 16px;
    background: var(--clr-primary);
  }
  #home .topo video {
    order: -1;
  }
  #home .topo .text__wrapper {
    width: 100%;
    gap: 24px;
  }
  #home .topo .text__wrapper h1 {
    font-size: 40px !important;
  }
  #home .topo .text__wrapper h2 {
    font-size: 16px !important;
  }
  #home .topo .text__wrapper .cta {
    width: 100%;
    text-align: center;
    background: #fff;
    color: var(--clr-primary);
  }
  /* PORTFOLIO */
  #home .portfolio .title {
    text-align: center;
  }
  #home .portfolio .grid {
    grid-template-columns: 1fr;
  }
  /* DEPOIMENTOS */
  #home .depoimentos .title {
    aspect-ratio: 400/600;
    margin-bottom: -200px;
  }
  #home .depoimentos .title h2 {
    font-size: 36px !important;
  }
  .fancybox__viewport {
    height: 100dvh !important;
  }
  .fancybox__content {
    width: 80dvw !important;
  }
  /* PRODUTOS */
  #home .produtos .title {
    padding-left: 16px;
    padding-right: 16px;
  }
  #home .produtos .title h2 {
    font-size: 36px !important;
  }
  #home .produtos .swiper-wrapper .item {
    padding: 250px 16px 16px;
    height: 100%;
    text-decoration: none;
    color: #fff;
  }
  #home .produtos .swiper-wrapper .item::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, var(--clr-primary) 80%);
    content: "";
  }
  #home .produtos .swiper-wrapper .item .infos__wrapper {
    justify-content: end;
  }
  #home .produtos .swiper-wrapper .item .saiba__mais {
    text-decoration: underline;
  }
  /* BLOG */
  #home .blog {
    background: linear-gradient(180deg, #D9D9D9 45%, #EEE 45%);
  }
  #home .blog .title {
    text-align: center;
  }
  #home .blog .title h2 {
    font-size: 36px !important;
  }
  #home .blog .grid {
    grid-template-columns: 1fr;
    aspect-ratio: auto;
    gap: 16px;
  }
  #home .blog .grid a:nth-child(1),
  #home .blog .grid a:nth-child(2),
  #home .blog .grid a:nth-child(3),
  #home .blog .grid a:nth-child(4) {
    grid-area: auto;
    aspect-ratio: 1;
    border-radius: 12px;
  }
  /* ORÇAMENTO E ATENDIMENTO */
  #home .orcamento .text__wrapper,
  #home .orcamento .img__wrapper {
    border-radius: 0;
  }
  #home .orcamento > .container-xxl {
    padding: 0 !important;
  }
  #home .atendimento .wrapper,
  #home .orcamento .wrapper {
    flex-direction: column;
  }
  #home .orcamento .img__wrapper,
  #home .atendimento .img__wrapper {
    order: -1;
    width: 100%;
  }
  #home .orcamento .text__wrapper,
  #home .atendimento .text__wrapper {
    min-width: unset;
    width: 100%;
  }
  #home .atendimento .text__wrapper br {
    display: none;
  }
  #home .orcamento .text .cta,
  #home .atendimento .text .cta {
    display: block;
    width: 100%;
    text-align: center;
  }
}