#produtos {
  background: linear-gradient(180deg, #5B9BCB 0%, #5B9BCB 15%, #eee 15%, #eee 100%);
}
/* TOPO */
#produtos .topo .wrapper {
  color: #fff;
  text-align: center;
}
#produtos .topo h1 {
  font-weight: 500;
  font-family: "Quentin";
  font-size: 64px !important;
}
#produtos .topo p {
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 300;
}
/* PRODUTOS */
#produtos .produtos .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
}
#produtos .produtos .grid .item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 580/780;
  border-radius: 16px;
}
#produtos .produtos .grid .item::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #004B82 80%);
}
#produtos .produtos .grid .item .img__wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#produtos .produtos .grid .item .img__wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
#produtos .produtos .grid .item:hover > .img__wrapper img {
  transform: scale(1.05);
}
#produtos .produtos .grid .item .infos__wrapper {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  padding: 32px;
  color: #fff;
}
#produtos .produtos .grid .item .infos__wrapper h2 {
  font-weight: 600;
}
#produtos .produtos .grid .item .infos__wrapper p {
  margin-bottom: 0;
}
/* TITULO */
#produtos .inovacoes .title {
  max-width: 1100px;
}
#produtos .inovacoes .title h2,
#produtos .inovacoes .title p {
  font-weight: 400;
}
/* ITENS */
#produtos .inovacoes .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 16px;
}
#produtos .inovacoes .grid .item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 12px;
  min-height: 200px;
}
#produtos .inovacoes .grid .item * {
  margin-bottom: 0;
}
#produtos .inovacoes .grid .video__wrapper {
  padding: 16px;
}
#produtos .inovacoes .grid .video__wrapper img {
  height: 24px;
  width: 24px;
}
#produtos .inovacoes .grid .item .text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
  padding: 16px;
  max-width: calc(50% + 16px);
  width: 100%;
  color: #fff;
  pointer-events: none;
}
#produtos .inovacoes .grid .item .img__wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#produtos .inovacoes .grid .item .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  -webkit-user-drag: none;
}
#produtos .inovacoes .grid .item:hover > .img__wrapper img {
  transform: scale(1.05)
}
/* GRID INOVACOES ITEMS */
/* Primeira linha (itens 1, 2, 3) */
#produtos .inovacoes .grid .item:nth-child(13n + 1) { grid-column: 1 / 5; }
#produtos .inovacoes .grid .item:nth-child(13n + 2) { grid-column: 5 / 8; }
#produtos .inovacoes .grid .item:nth-child(13n + 3) { grid-column: 8 / 13; }
/* Segunda linha (itens 4, 5, 6) */
#produtos .inovacoes .grid .item:nth-child(13n + 4) { grid-column: 1 / 5; }
#produtos .inovacoes .grid .item:nth-child(13n + 5) { grid-column: 5 / 8; }
#produtos .inovacoes .grid .item:nth-child(13n + 6) { grid-column: 8 / 13; }
/* Terceira linha (itens 7, 8, 9) */
#produtos .inovacoes .grid .item:nth-child(13n + 7) { grid-column: 1 / 4; }
#produtos .inovacoes .grid .item:nth-child(13n + 8) { grid-column: 4 / 8; }
#produtos .inovacoes .grid .item:nth-child(13n + 9) { grid-column: 8 / 13; }
/* Quarta linha (itens 10, 11, 12, 13) */
#produtos .inovacoes .grid .item:nth-child(13n + 10) { grid-column: 1 / 4; }
#produtos .inovacoes .grid .item:nth-child(13n + 11) { grid-column: 4 / 7; }
#produtos .inovacoes .grid .item:nth-child(13n + 12) { grid-column: 7 / 11; }
#produtos .inovacoes .grid .item:nth-child(13n + 13) { grid-column: 11 / 13; }
/* CTA */
#produtos .inovacoes .cta {
  padding: 16px 32px;
  border-radius: 8px;
  background: #004B82;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
#produtos .inovacoes .cta:hover {
  background: #000;
  transform: scale(1.05);
}
@media (max-width: 1024px) {
  #produtos .produtos .grid {
    grid-template-columns: 1fr 1fr;
  }
  #produtos .inovacoes .title {
    text-align: center;
  }
  #produtos .inovacoes .grid {
    grid-template-columns: 1fr;
  }
  #produtos .inovacoes .grid .item:nth-child(13n + 1),
  #produtos .inovacoes .grid .item:nth-child(13n + 2),
  #produtos .inovacoes .grid .item:nth-child(13n + 3),
  #produtos .inovacoes .grid .item:nth-child(13n + 4),
  #produtos .inovacoes .grid .item:nth-child(13n + 5),
  #produtos .inovacoes .grid .item:nth-child(13n + 6),
  #produtos .inovacoes .grid .item:nth-child(13n + 7),
  #produtos .inovacoes .grid .item:nth-child(13n + 8),
  #produtos .inovacoes .grid .item:nth-child(13n + 9),
  #produtos .inovacoes .grid .item:nth-child(13n + 10),
  #produtos .inovacoes .grid .item:nth-child(13n + 11),
  #produtos .inovacoes .grid .item:nth-child(13n + 12),
  #produtos .inovacoes .grid .item:nth-child(13n + 13) { 
    grid-column: auto; 
  }
  #produtos .inovacoes .grid .item {
    min-height: 150px;
  }
  #produtos .inovacoes .grid .item .text__wrapper {
    justify-content: center;
    padding: 16px;
    max-width: calc(50% + 16px);
    width: 100%;
    color: #fff;
    pointer-events: none;
  }
}
@media (max-width: 768px) {
  #produtos {
    background: linear-gradient(180deg, #5B9BCB 0%, #5B9BCB 8%, #eee 8%, #eee 100%);
  }
  #produtos .topo h1 {
    font-size: 36px !important;
  }
  #produtos .produtos .grid {
    grid-template-columns: 1fr;
  }
  #produtos .produtos .grid .item .infos__wrapper {
    padding: 16px;
  }
  #produtos .inovacoes .cta {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  #produtos .inovacoes .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #produtos .inovacoes .grid .item:nth-child(13n + 1),
  #produtos .inovacoes .grid .item:nth-child(13n + 2),
  #produtos .inovacoes .grid .item:nth-child(13n + 3),
  #produtos .inovacoes .grid .item:nth-child(13n + 4),
  #produtos .inovacoes .grid .item:nth-child(13n + 5),
  #produtos .inovacoes .grid .item:nth-child(13n + 6),
  #produtos .inovacoes .grid .item:nth-child(13n + 7),
  #produtos .inovacoes .grid .item:nth-child(13n + 8),
  #produtos .inovacoes .grid .item:nth-child(13n + 9),
  #produtos .inovacoes .grid .item:nth-child(13n + 10),
  #produtos .inovacoes .grid .item:nth-child(13n + 11),
  #produtos .inovacoes .grid .item:nth-child(13n + 12),
  #produtos .inovacoes .grid .item:nth-child(13n + 13) { 
    grid-column: auto; 
  }
}